@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

html {
  font-size: 12px;
  @apply font-inter;
}

:root {
  overflow-x: hidden;
  @apply font-inter;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }

  .flex-end {
    @apply flex justify-end items-end;
  }

  .gradient_bg {
    background: rgb(23, 38, 57);
    background: -moz-linear-gradient(
      0deg,
      rgba(23, 38, 57, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(23, 38, 57, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(23, 38, 57, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#172639",endColorstr="#ffffff",GradientType=1);
    width: 100%;
    height: 100%;
  }

  .gradient_bg_rounded {
    background: rgb(23, 38, 57);
    background: -moz-linear-gradient(
      0deg,
      rgba(23, 38, 57, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(23, 38, 57, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(23, 38, 57, 1) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#172639",endColorstr="#ffffff",GradientType=1);
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .border_radius {
    border-radius: 10px 0px;
  }

  .contact_bg_gradient {
    background: rgb(23, 38, 57);
    background: -moz-radial-gradient(
      circle,
      rgba(23, 38, 57, 1) 0%,
      rgba(152, 0, 31, 1) 100%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(23, 38, 57, 1) 0%,
      rgba(152, 0, 31, 1) 100%
    );
    background: radial-gradient(
      circle,
      rgba(23, 38, 57, 1) 0%,
      rgba(152, 0, 31, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#172639",endColorstr="#98001f",GradientType=1);
  }
}
